<h2>Template: <small>Dinamicos</small></h2>
<hr>

<form>
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control" 
            placeholder="nombre"
              required>
            <span class="form-text text-danger">Este campo es obligatorio</span>
        </div>
    </div>


    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <input class="form-control" 
              minlength="3" 
              required>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">lista de Juegos Favoritos</label>
        <div class="col-sm-9">
            <input 
            class="form-control mb-1" 
            required
            >
        </div>
    </div>


    <div class="mb-3 row">
     
        <div class="col-sm-9">
            <div class="input-group">
                <button class="btn btn-outline-primary" type="button" >Agregar</button>
                <button class="btn btn-primary" type="button">Guardar</button>
            </div>
            </div>
            </div>


</form>
<!--
<span>Persona</span>
<pre>{{persona | json}}</pre>
-->
