<h2>Validaciones Reactivas</h2>
<hr>


<div class="row">
    <div class="col">
        
        <form [formGroup]="miFormulario" (ngSubmit)="submitFormulario()" >
            <!--Nombre-->
            <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del usuario">
                </div>
                <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">Debe ser en formato de nombre y apellidos</span>
            </div>

             <!--Email-->
             <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" formControlName="email" placeholder="Introduzca su nombre de usuario">
                    
                </div>
                <span class="form-text text-danger"  *ngIf=" campoNoValido('email')">{{emailErrorMsg}}</span>
            </div>

             <!--Nombre-->
             <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="username" placeholder="Nombre del usuario">
                </div>
                <span class="form-text text-danger" *ngIf="campoNoValido('username')" required>El nombre de usuario no puede ser Strider</span>
               
            </div>

            <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                     class="form-control"
                     formControlName="password" 
                     placeholder="Introduzca su contraseña">
                </div>
                <span class="form-text text-danger" *ngIf="campoNoValido('password')">La contraseña debe ser mayor de 6 caracteres </span>
            </div>

            <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                     class="form-control"
                     formControlName="password2"  
                     placeholder="confirme su contraseña">
                </div>
                <span class="form-text text-danger" *ngIf="campoNoValido('password2')">La contraseñas deben de ser iguales </span>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" [disabled]="miFormulario.pending"  type="submit">Crear Usuario</button>
                </div>
            </div>


            
        </form>


    </div>

</div>
    
       
<h2>Form Valid:{{miFormulario.valid}}</h2>
<h2>Form Status:{{miFormulario.status}}</h2>

<h2>Form Error:</h2>
<span>{{miFormulario.errors|json}}</span>


<h2>Nombre</h2>
<span>{{miFormulario.controls.nombre.errors | json}}</span>


<h2>Email</h2>
<span>{{miFormulario.controls.email.errors | json}}</span>

<h2>Username</h2>
<span>{{miFormulario.controls.username.errors | json}}</span>

<h2>Password</h2>
<span>{{miFormulario.controls.password.errors | json}}</span>


<h2>Password2</h2>
<span>{{miFormulario.controls.password2.errors | json}}</span>