<h2>Validaciones Reactivas</h2>
<hr>


<div class="row">
    <div class="col">
        
        <form [formGroup]="miFormulario" (ngSubmit)="submitFormulario()" >
            <!--Nombre-->
            <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del usuario">
                </div>
                <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">Debe ser en formato de nombre y apellidos</span>
            </div>

             <!--Email-->
             <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="Introduzca su nombre de usuario">
                </div>
               
            </div>

             <!--Nombre-->
             <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del usuario">
                </div>
               
            </div>

            <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Introduzca su contraseña">
                </div>
               
            </div>

            <div class="row-mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Contraseña</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="confirme su contraseña">
                </div>
               
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"type="submit">Crear Usuario</button>
                </div>
            </div>


            
        </form>


    </div>

</div>
    
       
<h2>Form Valid:{{miFormulario.valid}}</h2>
<h2>Nombre</h2>
<span>{{miFormulario.controls.nombre.errors | json}}</span>